.titulo{
    font-size: 50px;
}


.enter {
    display: flex;
    justify-content: space-between;
}

.imagen5{
    text-align: center;
    justify-content: center;
    display: flex;
}



.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gordura{
    margin: 20px;
    justify-content: center;
}

.menu{
    position: absolute;
    position: fixed;
}

